# ==========================
# BACKEND (Python / FastAPI)
# ==========================
# Virtual Environment (Matches backend/venv or just venv)
venv/
.venv/
env/

# Python compiled files (Applied recursively to all folders)
__pycache__/


# ==========================
# FRONTEND (React / Node)
# ==========================

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ==========================
# SECURITY & CONFIG
# ==========================
# Ignore .env files 
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

!*.example